body {
    font-family: 'Verdana', sans-serif;
}

.bg-custom {
    background-color: rgb(42, 40, 40);
}

.headerImg {
    background-image: url("https://i.imgur.com/5fL7Fwj.jpeg");
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerText {
    flex: 0 0 600px;
}

h4 {
    color:rgb(100, 100, 246);
}